<ion-view>
  <ion-content>
  	<div class="place-title {{colourTitleClass}}">
  		<a class="close" href="#/twisty/categorySelection"><i class="icon ion-close-circled"></i></a>
  		<div class="row">
		  <div class="col">
		    <a href="{{nearestPlace.url}}"><img src="{{nearestPlace.icon.prefix}}88{{nearestPlace.icon.suffix}}" /></a>
		  </div>
		  <div class="col col-center col-75">
		  	<a href="{{nearestPlace.url}}">
			    <h4>{{nearestPlace.name}}</h4>
			    <h6 ng-if="hasAddress()">Address: {{nearestPlace.address}}</h6>
	  			<h6 ng-if="hasPhone()">Phone: {{nearestPlace.phoneNumber}}</h6>
  			</a>
		  </div>
		</div>
  	</div>
  	<div class="place-info">
  		<h3><i class="icon ion-clock"></i> {{nearestPlace.travel.time/60 | setDecimal:2}} mins away</h3>
  		<div class="row row-center">
	  		<div class="col-20 col-offset-20">
	  			<button class="button button-clear" ng-class="twitterShare ? 'button-calm' : 'button-dark'" ng-click="shareOnTwitter()"><i class="fa fa-twitter-square fa-2x"></i></button>
	  		</div>
	  		<div class="col-20">
	  			<button class="button button-clear" ng-class="facebookShare ? 'button-positive' : 'button-dark'" ng-click="shareOnFacebook()"><i class="fa fa-facebook-official fa-2x"></i></button>
	  		</div>
	  		<div class="col-20">
	  			<button class="button button-clear" ng-class="vbLoveItShare ? 'button-assertive' : 'button-dark'" ng-click="loveIt()"><i class="fa fa-heart fa-2x"></i></button>
	  		</div>
  		</div>
  		<a class="button button-full button-dark" href="http://maps.google.com/maps?saddr=Current%20Location&daddr={{nearestPlace.lat}},{{nearestPlace.lng}}&dirflg=w">TAKE ME THERE</a>
  	</div>
  	<div class="place-map" id="map-canvas">
  	</div>
  </ion-content>
</ion-view>